<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" media="all" href="{{.AuthURL "/assets/qor_auth.css"}}">
</haed>
<body>
<div class="container qor-auth">
  <div class="qor-auth-box">
    {{$flashes := .Flashes}}
    {{if $flashes}}
      <ul class="errors">
        {{range $flash := $flashes}}
          <li>{{$flash.Message}}</li>
        {{end}}
      </ul>
    {{end}}

    <h1>Circle 인증</h1>

    {{if .Auth.GetProvider "password"}}
      <form action="{{.AuthURL "password/login"}}" method="POST">
        <ul class="auth-form">
          <li>
            <label for="email">이메일</label>
            <input type="email" id="email" name="login" placeholder="email" value="{{.FormValue "login"}}">
          </li>

          <li>
            <label for="password">비밀번호</label>
            <a class="forgot-password" href="{{.AuthURL "password/new"}}">비밀번호 찾기</a>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
          </li>

          <li>
            <button type="submit" class="button button__primary">로그인</button>
          </li>
        </ul>
      </form>
    {{end}}

    {{if (and (gt (len .Auth.GetProviders) 1) (.Auth.GetProvider "password"))}}
      <div class="line">
        <span>구글 인증</span>
      </div>
    {{end}}

    <div class="qor-auth-social-login">
      {{if .Auth.GetProvider "facebook"}}
        <a href="{{.AuthURL "facebook/login"}}" class="qor-auth-facebook" title="{{ t "auth.Sign in with facebook" "Sign in with facebook" }}">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "twitter"}}
        <a href="{{.AuthURL "twitter/login"}}" class="qor-auth-twitter" title="{{ t "auth.Sign in with twitter" "Sign in with twitter" }}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "github"}}
        <a href="{{.AuthURL "github/login"}}" class="qor-auth-github" title="{{ t "auth.Sign in with github" "Sign in with github" }}">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "google"}}
        <a href="{{.AuthURL "google/login"}}" class="qor-auth-google" title="{{ t "auth.Sign in with google" "Sign in with google" }}">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
      {{end}}
    </div>
  </div>
</div>
</body>
</html>