package models

import "time"

// gen:qs
type {{.Name}} struct {
	ID          uint      `description:""`
	CreatedAt   time.Time `description:"등록일"`
	UpdatedAt   time.Time `description:"수정일"`
	Name        string    `description:"이름"`
	Description string    `description:"설명" sql:"type:text"`
    {{range $i, $property := .Properties}}{{.Name}} {{.Type}} `description:"{{.Description}}"`
	{{end}}
}

func init() {
	registModel(&{{.Name}}{})
}

func Add{{.Name}}({{.GetVariableName}} *{{.Name}}) (id uint, err error) {
	err = {{.GetVariableName}}.Create(gGormDB)
	id = {{.GetVariableName}}.ID
	return
}

func Get{{.Name}}ByID(id uint) ({{.GetVariableName}} *{{.Name}}, err error) {
	{{.GetVariableName}} = &{{.Name}}{
		ID: id,
	}
	err = New{{.Name}}QuerySet(gGormDB).
		One({{.GetVariableName}})
	return
}

func GetAll{{.Name}}(queryPage *QueryPage) ({{.GetVariableName}}s []{{.Name}}, err error) {
	err = New{{.Name}}QuerySet(gGormDB).
		All(&{{.GetVariableName}}s)
	return
}

func Update{{.Name}}ByID({{.GetVariableName}} *{{.Name}}) (err error) {
	err = {{.GetVariableName}}.Update(gGormDB,
		{{.Name}}DBSchema.Name,
		{{.Name}}DBSchema.Description,
		{{$name := .Name}}{{range $i, $property := .Properties}}{{$name}}DBSchema.{{.Name}},
		{{end}}
	)
	return
}

func Delete{{.Name}}(id uint) (err error) {
	{{.GetVariableName}} := &{{.Name}}{
		ID: id,
	}
	err = {{.GetVariableName}}.Delete(gGormDB)
	return
}
