package requests

import "time"

type Create{{.Name}} struct {
  {{range $i, $property := .Properties}}{{.Name}} {{.GetTypeInRequests}}
	{{end}}
}

type Update{{.Name}} struct {
  {{range $i, $property := .Properties}}{{.Name}} {{.GetTypeInRequests}}
	{{end}}
}

func (c *Create{{.Name}}) Valid() error {
  return validate.Struct(c)
}

func (c *Update{{.Name}}) Valid() error {
  return validate.Struct(c)
}
