package responses

import "time"

type {{.Name}} struct {
  ID          uint      
	CreatedAt   time.Time 
	UpdatedAt   time.Time 
	Name        string    
	Description string    
  {{range $i, $property := .Properties}}{{.Name}} {{.GetTypeInResponses}}
	{{end}}
}

