// @APIVersion {{.AppVersion}}
// @Title {{.AppTitle}}
// @Description {{.AppDescription}}
// @Contact {{.AppContact}}
// @TermsOfServiceUrl {{.AppTermsOfServiceUrl}}
// @License {{.AppLicense}}
// @SecurityDefinition {{.AppSecurityDefinition}}
package routers

import (
	"github.com/astaxie/beego"
	"github.com/{{.Import}}/controllers"
)

func init() {
	// circle:system:start
	ns := beego.NewNamespace("/v1",
		beego.NSNamespace("/circleSets",
			beego.NSInclude(
				&modules.CircleSetController{},
			),
		),
		beego.NSNamespace("/circleUnits",
			beego.NSInclude(
				&modules.CircleUnitController{},
			),
		),
		beego.NSNamespace("/circleUnitProperties",
			beego.NSInclude(
				&modules.CircleUnitPropertyController{},
			),
		),
		beego.NSNamespace("/webhooks",
			beego.NSInclude(
				&controllers.WebhookController{},
			),
		),
		beego.NSNamespace("/notifications",
			beego.NSInclude(
				&modules.NotificationController{},
			),
		),
		beego.NSNamespace("/notificationTypes",
			beego.NSInclude(
				&modules.NotificationTypeController{},
			),
		),
		// circle:system:end

		// circle:manual:start
		// circle:manual:end

		// circle:auto:start
		{{range $i, $unit := .GetAutoGenUnits}}
		beego.NSNamespace("/{{.URL}}",
			beego.NSInclude(
				&controllers.{{.Name}}Controller{},
			),
		),
		{{end}}
		// circle:auto:end 
	)
	beego.AddNamespace(ns)
}
